{% extends 'core/base.html' %}

{% block title %}Users{% endblock %}

{% block head %}
  <link rel="stylesheet" href="{{ url_for('users.static', filename='css/auth.css') }}">
{% endblock head %}

{% block body %}
  <section class="text-center center">
    <h1>Sign-In Page</h1>
    <form class="form-signin" method="post" action="{{ url_for('users.login') }}">
      <img class="mb-4" src="{{ url_for('users.static', filename='images/banner.png') }}" alt="" width="72" height="72">
      <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
      <label for="inputUsername" class="sr-only">Username</label>
      <input type="text" name="username" id="inputUsername" maxlength="20" class="form-control" placeholder="Username" required autofocus>
      <label for="inputPassword" class="sr-only">Password</label>
      <input type="password" name="password" id="inputPassword" maxlength="20" class="form-control" placeholder="Password" required>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Sign In</button>
      <small><a href="{{ url_for('users.signup') }}">Need an account? Sign up...</a></small>
    </form>
  </section>
{% endblock %}